body {
    background-color: $primary-background;
    color: $main-font;
    font-family: 'open-sans-light', sans-serif;
}

h1 {
    font-family: 'voltaire', sans-serif;
    font-size: 120px;
    text-shadow: 3px 2px 2px #000;
    text-align: center;
    line-height: 125px;
}

.big-icons {
    font-size: $big-icon-font;
    text-shadow: 3px 2px 2px #000;
}