{% extends 'layout.html' %}

{% block body %}

<div class="home-title row"><div class="large-12 columns">
	<h1>Bryan Robinson</h1>
	<h2>At the intersection of design and development</h2>
	<h3>Design + Development + Content = Usability</h3>


	<div id="app"></div>


</div>
</div>

<div class="big-title">
	<div class="strike-through"></div>
	<div class="background">
		<h4>@brob</h4>
	</div>
</div>




<div class="big-icons row">
	<div class="medium-4 small-4 columns"><a href="http://twitter.com/brob/" title="Bryan's thoughts are on Twitter @brob" class="icon-twitter"></a></div>
	<div class="medium-4 small-4 columns"><a href="http://linkedin.com/in/bryanlrobinson/" title="Bryan's professional network is on LinkedIn" class="icon-linkedin"></a></div>
	<div class="medium-4 small-4 columns"><a href="https://github.com/brob/" title="Bryan's code -- such as it is -- is on GitHub" class="icon-github"></a></div>
</div>


{% endblock %}
