{% extends 'layout.html' %}

{% block body %}



	<div class="row">
		<div class="large-12 columns">
			<h1>Bryan Robinson</h1>
			<h2>At the intersection of design and development</h2>
			<h3>UX Strategy | Front-end Development | Content Strategy</h3>
			<div class="icon-twitter big-icons"></div>
			<div class="icon-github big-icons"></div>
			<div class="icon-medium big-icons"></div>
		</div>
	</div>






	<footer class="row">
		<div class="large-12 columns">
			<hr/>
			<div class="row">
				<div class="large-6 columns">
					<p>© Copyright no one at all. Go to town.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


{% endblock %}
