{% extends 'layout.html' %}

{% block body %}



	<div class="home-title row">
		<div class="large-12 columns">
			<h1>Bryan Robinson</h1>
			<h2>At the intersection of design and development</h2>
			<h3>UX Strategy + Front-end Development + Content Strategy</h3>
		</div>
	</div>

	<div class="big-title">
		<div class="strike-through"></div>
			<div class="background">
				<h4>@brob</h4>
			</div>
	</div>

	<div class="big-icons row">
		<div class="large-3 small-6 columns"><a href="http://twitter.com/brob/" class="icon-twitter"></a></div>
		<div class="large-3 small-6 columns"><a href="http://linkedin.com/in/bryanlrobinson/" class="icon-linkedin"></a></div>
		<div class="large-3 small-6 columns"><a href="https://github.com/brob/" class="icon-github"></a></div>
		<div class="large-3 small-6 columns"><a href="https://medium.com/@brob" class="icon-medium"></a></div>
	</div>

{% endblock %}
